<robot name="Legged_robot">
  <link
    name="hip">
    <mujoco>
      <site name="com_site" type="sphere" size="0.005" rgba="1 0 0 0.5" pos="0 0 0"/>
    </mujoco>
    <inertial>
      <origin
        xyz="-0.00564830078198353 0.0349469887099489 0.00646542786747288"
        rpy="0 0 0" />
      <mass
        value="5.01371669411541E-05" />
      <inertia
        ixx="4.29482473170853E-10"
        ixy="2.95588739100365E-28"
        ixz="-3.12273218868088E-27"
        iyy="4.10766306626453E-10"
        iyz="1.97082982379683E-26"
        izz="4.91957013924296E-11" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/hip.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_2_1">
    <inertial>
      <origin
        xyz="0 -0.007 0.0015"
        rpy="0 0 0" />
      <mass
        value="7.58539816339745E-05" />
      <inertia
        ixx="1.12491102285555E-09"
        ixy="7.10858338912758E-26"
        ixz="1.21720076523357E-26"
        iyy="7.75290368297784E-11"
        iyz="8.60440399356178E-27"
        izz="1.09723135879864E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_2_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_2_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_link/_2_1"
    type="revolute">
    <origin
      xyz="-0.0056483 -0.0084654 0.034295"
      rpy="1.5708 -0.75702 0" />
    <parent
      link="hip" />
    <child
      link="link_2_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="hip_to_link2_1" ctrlrange="-10.0 10.0" />
  </joint>
  <link
    name="link_1_1">
    <inertial>
      <origin
        xyz="5.20417042793042E-18 -0.007 0.0015"
        rpy="0 0 0" />
      <mass
        value="8.78539816339742E-05" />
      <inertia
        ixx="1.69611842160531E-09"
        ixy="5.26681405648998E-25"
        ixz="4.51496037895184E-27"
        iyy="9.79399882072297E-11"
        iyz="-3.07959924106589E-26"
        izz="1.65484970892585E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_1_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_1_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_2_1_link_1_1"
    type="revolute">
    <origin
      xyz="0 -0.014 0"
      rpy="0 0 -1.3614" />
    <parent
      link="link_2_1" />
    <child
      link="link_1_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="link21_to_link11" ctrlrange="-10.0 10.0" />
  </joint>
  <link
    name="foot_1">
    <mujoco>
      <site name="foot1_site" type="sphere" size="0.005" rgba="0 1 0 0.5" pos="0 0 0"/>
    </mujoco>
    <inertial>
      <origin
        xyz="0.00377646695532485 -0.00150811184848213 0.0015"
        rpy="0 0 0" />
      <mass
        value="5.29595525039593E-05" />
      <inertia
        ixx="1.15269420092446E-10"
        ixy="1.5793064359785E-11"
        ixz="3.93928134751848E-27"
        iyy="5.66854901453676E-10"
        iyz="-3.32389131736677E-27"
        izz="4.73297729462129E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/foot_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/foot_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_1_1_foot_1"
    type="revolute">
    <origin
      xyz="0 -0.014 0"
      rpy="0 0 0.6044" />
    <parent
      link="link_1_1" />
    <child
      link="foot_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="link11_to_foot1" ctrlrange="-10.0 10.0" />
  </joint>
  <link
    name="link2_2">
    <inertial>
      <origin
        xyz="0 -0.00699999999999999 0.0015"
        rpy="0 0 0" />
      <mass
        value="7.58539816339745E-05" />
      <inertia
        ixx="1.12491102285555E-09"
        ixy="2.98187862400166E-26"
        ixz="7.57569422647246E-28"
        iyy="7.75290368297785E-11"
        iyz="3.70764625453876E-27"
        izz="1.09723135879864E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_2_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_2_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_link_2_2"
    type="revolute">
    <origin
      xyz="-0.0056483 -0.0014654 0.034295"
      rpy="1.5708 0 0" />
    <parent
      link="hip" />
    <child
      link="link2_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="hip_to_link22" ctrlrange="-10.0 10.0" />
  </joint>
  <link
    name="link_1_2">
    <inertial>
      <origin
        xyz="4.33680868994202E-18 -0.007 0.0015"
        rpy="0 0 0" />
      <mass
        value="8.78539816339742E-05" />
      <inertia
        ixx="1.69611842160531E-09"
        ixy="3.70373350444886E-25"
        ixz="-5.15888271227709E-27"
        iyy="9.79399882072298E-11"
        iyz="-5.79327766869373E-27"
        izz="1.65484970892585E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_1_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/link_1_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_2_2_link_1_2"
    type="revolute">
    <origin
      xyz="0 -0.014 0"
      rpy="0 0 -0.061771" />
    <parent
      link="link2_2" />
    <child
      link="link_1_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="link22_to_link12" ctrlrange="-10.0 10.0" />
  </joint>
  <link
    name="foot_2">
    <mujoco>
      <site name="foot2_site" type="sphere" size="0.005" rgba="0 0 1 0.5" pos="0 0 0"/>
    </mujoco>
    <inertial>
      <origin
        xyz="0.00377646695532497 -0.001508111848482 0.0015"
        rpy="0 0 0" />
      <mass
        value="5.29595525039593E-05" />
      <inertia
        ixx="1.15269420092446E-10"
        ixy="1.5793064359785E-11"
        ixz="9.59697969000011E-28"
        iyy="5.66854901453677E-10"
        iyz="-2.97525851487859E-27"
        izz="4.7329772946213E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/foot_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Legged_robot/meshes/foot_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_1_2_foot_2"
    type="revolute">
    <origin
      xyz="0 -0.014 0"
      rpy="0 0 0.061771" />
    <parent
      link="link_1_2" />
    <child
      link="foot_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <motor name="link12_to_foot2" ctrlrange="-10.0 10.0" />
  </joint> 
</robot>